dask[distributed,dataframe]>=2025.5
geopandas>=1.0
pyarrow>=18
pandas>=2.2
numpy>=2.0
xgboost>=2.1
scikit-learn>=1.5
rasterio>=1.4
GDAL>=3.8
s3fs>=2025.5
fsspec>=2025.5
shapely>=2.0
pyproj>=3.7
PyYAML>=6.0
joblib>=1.4
