# Ignore
outputs/*
inputs/*
src/hydro_health/*.xml
*.pyc
**/__pycache__
inputs/lookups/hydro_health.config
.vscode/*

# Allow
!inputs/*wgs84*
!inputs/lookups/
!inputs/run_configs/
!inputs/Master_grids.gpkg
!inputs/ER3_Grids.gpkg
!inputs/drawn_polygons.geojson
